<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypack.mapper.DepartmentMapper">
	<select id="getDepartment" resultType="department" parameterType="department">
		select * from crm_department
		<where>
			<if test="depName!=null and depName!=''">
                and depName like "%"#{depName}"%"
            </if>
		</where>
		order by id asc
		<if test="page!=-1">
			limit #{page},5
		</if>
	</select>

	<select id="getDepNumber" parameterType="department" resultType="int">
		select count(*) from crm_department
		<where>
			<if test="depName!=null and depName!=''">
				and depName like "%"#{depName}"%"
			</if>
		</where>
	</select>
	
	<insert id="insDep" parameterType="department">
		INSERT INTO crm_department VALUES (default, #{depName}, default);
	</insert>
	
	<delete id="delDep" parameterType="int">
		delete from crm_department where id=#{arg0}
	</delete>
	
	<select id="getDepById" parameterType="int" resultType="department">
		select * from crm_department where id=#{arg0}
	</select>
	
	<update id="updateDep" parameterType="department">
		update crm_department set `depName`=#{depName} where `id`=#{id};
	</update>
</mapper>