<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypack.mapper.JobCompanyMapper">
	<select id="getJCompany" resultType="jobCompany" parameterType="jobCompany">
		select * from crm_jobcomany
		<where>
			<if test="companyName!=null and companyName!=''">
                and companyName like "%"#{companyName}"%"
            </if>
            <if test="address!=null and address!=''">
                and  address like "%"#{address}"%"
            </if>
		</where>
			order by id asc
			<if test="page!=-1">
				 limit #{page},5
			</if>
	</select>

	<select id="getJCompanyNumber" parameterType="jobCompany" resultType="int">
		select count(*) from crm_jobcomany
		<where>
			<if test="companyName!=null and companyName!=''">
				and companyName like "%"#{companyName}"%"
			</if>
			<if test="address!=null and address!=''">
				and  address like "%"#{address}"%"
			</if>
		</where>
	</select>

	<insert id="insJCompany" parameterType="jobCompany">
		INSERT INTO crm_jobcomany VALUES (default, #{companyName}, #{comCode}, #{address}, #{linkman}, #{telephone}, #{quarters}, #{emolument}, #{state},#{remark});
	</insert>
	
	<select id="getJCompanyById" parameterType="int" resultType="jobCompany">
		select * from crm_jobcomany where id=#{arg0}
	</select>
	
	<update id="updateJCompany" parameterType="jobCompany">
		UPDATE crm_jobcomany SET `companyName`=#{companyName}, `comCode`=#{comCode}, `address`=#{address}, `linkman`=#{linkman}, `telephone`=#{telephone}, `quarters`=#{quarters}, `emolument`=#{emolument}, `state`=#{state},`remark`=#{remark} WHERE (`id`=#{id});
	</update>
	
	<delete id="delJCompany" parameterType="int">
		delete from crm_jobcomany where id=#{arg0}
	</delete>
</mapper>