<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypack.mapper.ReferMapper">
	<select id="getAllRefer" resultType="Refer" parameterType="refer">
		select id,source,userid,staffName,username,rstate,byAcademy from crm_refer,crm_staff 
		where crm_refer.userid=crm_staff.staffID
		<if test="username!=null and username!=''">
                and username like "%"#{username}"%"
        </if>
        <if test="source!=null and source!=''">
                and source = #{source}
        </if>
        <if test="userid!=null and userid!=''">
                and userid = #{userid}
        </if>
		order by id asc
		<if test="page!=-1">
			limit #{page},5
		</if>
	</select>

	<select id="getReferNumber" parameterType="refer" resultType="int">
		select count(*) from crm_refer
		<where>
			<if test="username!=null and username!=''">
				and username like "%"#{username}"%"
			</if>
			<if test="source!=null and source!=''">
				and source = #{source}
			</if>
			<if test="userid!=null and userid!=''">
				and userid = #{userid}
			</if>
		</where>
	</select>
	
	<insert id="insRefer" parameterType="refer">
		INSERT INTO crm_refer VALUES (default, #{source}, #{userid}, #{username}, #{gender}, #{address}, #{email}, #{idcard}, #{phone}, #{weixin}, #{qq}, #{shopGood}, #{rstate}, #{isJob}, #{byAcademy}, #{resourceLevel}, #{remark});
	</insert>
	
	<select id="getReferById" parameterType="int" resultType="refer">
		select * from crm_refer where id=#{arg0}
	</select>
	
	<update id="updateRefer" parameterType="refer">
		UPDATE crm_refer SET `source`=#{source}, `userid`=#{userid}, `username`=#{username}, `gender`=#{gender}, `address`=#{address}, `email`=#{email}, `idcard`=#{idcard}, `phone`=#{phone}, `weixin`=#{weixin}, `qq`=#{qq}, `shopGood`=#{shopGood}, `rstate`=#{rstate}, `isJob`=#{isJob}, `byAcademy`=#{byAcademy}, `resourceLevel`=#{resourceLevel}, `remark`=#{remark} WHERE (`id`=#{id});
	</update>
	
	<delete id="deleteRefer" parameterType="int">
		delete from crm_refer where id=#{arg0}
	</delete>


	<select id="getAllBaoming" resultType="Refer" parameterType="refer">
		select id,source,userid,staffName,username,rstate,byAcademy from crm_refer,crm_staff
		where crm_refer.userid=crm_staff.staffID and rstate='已报名'
		<if test="username!=null and username!=''">
			and username like "%"#{username}"%"
		</if>
		<if test="source!=null and source!=''">
			and source = #{source}
		</if>
		<if test="userid!=null and userid!=''">
			and userid = #{userid}
		</if>
		order by id asc
		<if test="page!=-1">
			limit #{page},5
		</if>
	</select>

	<select id="getBaomingNumber" parameterType="refer" resultType="int">
		select count(*) from crm_refer where rstate='已报名'
			<if test="username!=null and username!=''">
				and username like "%"#{username}"%"
			</if>
			<if test="source!=null and source!=''">
				and source = #{source}
			</if>
			<if test="userid!=null and userid!=''">
				and userid = #{userid}
			</if>
	</select>

	<update id="updateState_trasStu" parameterType="int">
		UPDATE crm_refer SET  `rstate`='已结束', `remark`='已转为正式学员' WHERE (`id`=#{arg0});
	</update>

	<insert id="insStu_trasStu" parameterType="student">
		INSERT INTO crm_student VALUES (default, #{stuName}, default, #{stuSex}, #{referid}, #{classid}, #{beginTime}, #{jobTime}, default , default , #{remark});
	</insert>
</mapper>